<article class="relative border border-grey p-4 h-auto rounded-1 bg-white">
  <!-- Close Button -->
  <div class="flex justify-end">
    <button mat-icon-button class="text-blue" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Product Details -->
  <section mat-dialog-content class="relative">
    <div
      class="flex items-center justify-center border border-grey rounded-4 p-4 mb-4 text-center min-h-48">
      <img
        [src]="product.image"
        [alt]="product.title"
        class="inline-block w-[11rem] h-auto rounded-2" />
    </div>

    <h1 mat-dialog-title class="text-black text-24 font-bold mb-4">
      {{ product.title }}
    </h1>
    <p class="text-black text-14 mb-6">{{ product.description }}</p>
    <p class="text-black text-24 font-bold text-center">
      {{ product.price | currency }}
    </p>
  </section>

  <!-- Add to Cart -->
  <div class="flex justify-center mt-4">
    <button mat-button type="button" (click)="addToCart()" class="btn-primary">
      Add to cart
    </button>
  </div>
</article>
