<section
  class="card-panel"
  [ngClass]="{
    'card-panel__opened': isCartVisible(),
  }">
  <!-- Overlay background for the cart -->
  <div
    class="card-mask inset-0 z-40 bg-black cursor-pointer"
    (click)="closeCart()"></div>
  <aside
    class="card-body fixed flex flex-col z-50 bg-white top-0 right-0 w-full md:w-400 h-full transition-opacity">
    <!-- Cart header with title and close button -->
    <header class="flex justify-between items-center p-4">
      <h3 class="text-blue-dark font-semibold text-20">My cart</h3>
      <button
        class="text-blue"
        (click)="closeCart()"
        type="button"
        aria-label="Close cart">
        <mat-icon class="align-middle">clear</mat-icon>
      </button>
    </header>

    <!-- Cart items list -->
    <div class="p-4 border-t border-grey">
      <ul *ngFor="let item of cartItems(); trackBy: trackById">
        <li class="flex mb-4 pb-2 border-b border-grey-light">
          <div class="w-2/12">
            <img
              class="w-full"
              src="{{ item.product.image }}"
              alt="{{ item.product.title }}" />
          </div>
          <div class="px-4 w-8/12">
            <p>{{ item.product.title }}</p>
          </div>
          <div class="w-2/12">
            <p class="text-16 mb-2 text-right font-medium">
              {{ item.product.price * item.quantity | currency }}
            </p>
            <eshop-quantity-counter
              [quantity]="item.quantity"
              (quantityChange)="updateQuantity(item.product.id, $event)"
              >></eshop-quantity-counter
            >
          </div>
        </li>
      </ul>
    </div>

    <!-- Proceed to checkout with total price and discount if applicable  -->
    <footer class="p-4 mt-auto border-t border-grey">
      <button
        class="btn-primary w-full font-medium py-2 mb-0"
        type="button"
        (click)="viewCheckout()"
        aria-label="View Checkout">
        View my cart
        <span class="bg-blue-dark inline-block rounded-4 px-1 font-semibold">
          <span *ngIf="calculateTotal() > 0" class="align-middle mr-1">{{
            calculateTotal() | currency
          }}</span>
          <span
            *ngIf="totalPrice() > totalExceeds"
            class="text-12 line-through"
            >{{ totalPrice() | currency }}</span
          >
        </span>
      </button>
    </footer>
  </aside>
</section>
